<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Task Project</title>
</head>
<body>


<h1>Update Task</h1>
	<form  th:action="@{/saveupdate}" th:object="${task}" method="POST">
			<input type="hidden"  name="id" th:value="${task.id}">
			
			<label for="title">New  title:</label><br>
			<input type="text" placeholder="enter your title" name="title" th:field="*{title}">
			<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
		

			<br>
			
			<label for="description">New  description:</label><br>
			<input type="text" placeholder="enter your description" name="description" th:field="*{description}">
			<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
			<br>
			
			<br>
			<label for="duedate">New dueDate:</label><br>
			<input type="date" placeholder="enter duedate" name="duedate" th:field="*{duedate}">
			<span th:if="${#fields.hasErrors('duedate')}" th:errors="*{duedate}"></span>
			<br>
			
			<label for="status">New status:</label><br>
			<input type="text" placeholder="enter your status" name="status" th:field="*{status}">
			<span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
			
			<input type="submit" id="button">
			
	</form>
</body>

</html>